*{
  margin: 0;
  
}
.header{
  height: 150px;
  justify-content: center;
  align-items: center;
  padding-top:10px ;
  width: 100%;
  background-color: aquamarine;
}
.card-wrapper{
  border-radius: 5px;
  width: 300px;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 300px;
  box-shadow: 0px 3px 50px #a5a5a5;
  display: flex;
  flex-direction: column;
}
.card-top{
  width: 270px;
  height: 2%;
}
.task-holder{
  text-align: start;
  align-items: center;
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-header{
  margin-top: 10px;
  margin-bottom: 5px;
  width: 70%;
  height: 30px;
  padding-top: 1px 1px !important;
  text-align: center;
}
.task-container{
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 100px;
}